@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manjari&display=swap");
* {
  padding: 0;
  margin: 0;
}

.header {
  height: 50px;
}

.container {
  min-height: calc(80vh - 70px);
}
@media only screen and (max-width: 1200px) {
  .container {
    min-height: calc(40vh - 70px);
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    min-height: calc(40vh - 70px);
  }
}
@media only screen and (max-width: 480px) {
  .container {
    min-height: calc(30vh - 70px);
  }
}

.footer {
  height: 50px;
}

.text-primary {
  color: #448fd2;
}

.text-hover-primary:hover {
  color: #448fd2;
}

.bg-primary {
  background-color: #448fd2;
}

.text-primary-light-1 {
  color: #579ad7;
}

.text-hover-primary-light-1:hover {
  color: #579ad7;
}

.bg-primary-light-1 {
  background-color: #579ad7;
}

.text-primary-light-2 {
  color: #69a5db;
}

.text-hover-primary-light-2:hover {
  color: #69a5db;
}

.bg-primary-light-2 {
  background-color: #69a5db;
}

.text-primary-light-3 {
  color: #7cb1e0;
}

.text-hover-primary-light-3:hover {
  color: #7cb1e0;
}

.bg-primary-light-3 {
  background-color: #7cb1e0;
}

.text-primary-light-4 {
  color: #8fbce4;
}

.text-hover-primary-light-4:hover {
  color: #8fbce4;
}

.bg-primary-light-4 {
  background-color: #8fbce4;
}

.text-primary-light-5 {
  color: #a2c7e9;
}

.text-hover-primary-light-5:hover {
  color: #a2c7e9;
}

.bg-primary-light-5 {
  background-color: #a2c7e9;
}

.text-primary-light-6 {
  color: #b4d2ed;
}

.text-hover-primary-light-6:hover {
  color: #b4d2ed;
}

.bg-primary-light-6 {
  background-color: #b4d2ed;
}

.text-primary-light-7 {
  color: #c7ddf2;
}

.text-hover-primary-light-7:hover {
  color: #c7ddf2;
}

.bg-primary-light-7 {
  background-color: #c7ddf2;
}

.text-primary-light-8 {
  color: #dae9f6;
}

.text-hover-primary-light-8:hover {
  color: #dae9f6;
}

.bg-primary-light-8 {
  background-color: #dae9f6;
}

.text-primary-light-9 {
  color: #ecf4fb;
}

.text-hover-primary-light-9:hover {
  color: #ecf4fb;
}

.bg-primary-light-9 {
  background-color: #ecf4fb;
}

.text-primary-dark-1 {
  color: #4386c2;
}

.text-hover-primary-dark-1:hover {
  color: #3d81bd;
}

.bg-primary-dark-1 {
  background-color: #4386c2;
}

.text-primary-dark-2 {
  color: #417db3;
}

.text-hover-primary-dark-2:hover {
  color: #3672a8;
}

.bg-primary-dark-2 {
  background-color: #417db3;
}

.text-primary-dark-3 {
  color: #4074a3;
}

.text-hover-primary-dark-3:hover {
  color: #306493;
}

.bg-primary-dark-3 {
  background-color: #4074a3;
}

.text-primary-dark-4 {
  color: #3e6b94;
}

.text-hover-primary-dark-4:hover {
  color: #29567e;
}

.bg-primary-dark-4 {
  background-color: #3e6b94;
}

.text-primary-dark-5 {
  color: #3d6384;
}

.text-hover-primary-dark-5:hover {
  color: #224869;
}

.bg-primary-dark-5 {
  background-color: #3d6384;
}

.text-primary-dark-6 {
  color: #3c5a74;
}

.text-hover-primary-dark-6:hover {
  color: #1b3954;
}

.bg-primary-dark-6 {
  background-color: #3c5a74;
}

.text-primary-dark-7 {
  color: #3a5165;
}

.text-hover-primary-dark-7:hover {
  color: #142b3f;
}

.bg-primary-dark-7 {
  background-color: #3a5165;
}

.text-primary-dark-8 {
  color: #394855;
}

.text-hover-primary-dark-8:hover {
  color: #0e1d2a;
}

.bg-primary-dark-8 {
  background-color: #394855;
}

.text-primary-dark-9 {
  color: #373f46;
}

.text-hover-primary-dark-9:hover {
  color: #070e15;
}

.bg-primary-dark-9 {
  background-color: #373f46;
}

.text-secondary {
  color: #7d7d7d;
}

.text-hover-secondary:hover {
  color: #7d7d7d;
}

.bg-secondary {
  background-color: #7d7d7d;
}

.text-secondary-light-1 {
  color: #8a8a8a;
}

.text-hover-secondary-light-1:hover {
  color: #8a8a8a;
}

.bg-secondary-light-1 {
  background-color: #8a8a8a;
}

.text-secondary-light-2 {
  color: #979797;
}

.text-hover-secondary-light-2:hover {
  color: #979797;
}

.bg-secondary-light-2 {
  background-color: #979797;
}

.text-secondary-light-3 {
  color: #a4a4a4;
}

.text-hover-secondary-light-3:hover {
  color: #a4a4a4;
}

.bg-secondary-light-3 {
  background-color: #a4a4a4;
}

.text-secondary-light-4 {
  color: #b1b1b1;
}

.text-hover-secondary-light-4:hover {
  color: #b1b1b1;
}

.bg-secondary-light-4 {
  background-color: #b1b1b1;
}

.text-secondary-light-5 {
  color: #bebebe;
}

.text-hover-secondary-light-5:hover {
  color: #bebebe;
}

.bg-secondary-light-5 {
  background-color: #bebebe;
}

.text-secondary-light-6 {
  color: #cbcbcb;
}

.text-hover-secondary-light-6:hover {
  color: #cbcbcb;
}

.bg-secondary-light-6 {
  background-color: #cbcbcb;
}

.text-secondary-light-7 {
  color: #d8d8d8;
}

.text-hover-secondary-light-7:hover {
  color: #d8d8d8;
}

.bg-secondary-light-7 {
  background-color: #d8d8d8;
}

.text-secondary-light-8 {
  color: #e5e5e5;
}

.text-hover-secondary-light-8:hover {
  color: #e5e5e5;
}

.bg-secondary-light-8 {
  background-color: #e5e5e5;
}

.text-secondary-light-9 {
  color: #f2f2f2;
}

.text-hover-secondary-light-9:hover {
  color: #f2f2f2;
}

.bg-secondary-light-9 {
  background-color: #f2f2f2;
}

.text-secondary-dark-1 {
  color: #767676;
}

.text-hover-secondary-dark-1:hover {
  color: #717171;
}

.bg-secondary-dark-1 {
  background-color: #767676;
}

.text-secondary-dark-2 {
  color: #6f6f6f;
}

.text-hover-secondary-dark-2:hover {
  color: #646464;
}

.bg-secondary-dark-2 {
  background-color: #6f6f6f;
}

.text-secondary-dark-3 {
  color: #686868;
}

.text-hover-secondary-dark-3:hover {
  color: #585858;
}

.bg-secondary-dark-3 {
  background-color: #686868;
}

.text-secondary-dark-4 {
  color: #616161;
}

.text-hover-secondary-dark-4:hover {
  color: #4b4b4b;
}

.bg-secondary-dark-4 {
  background-color: #616161;
}

.text-secondary-dark-5 {
  color: #5a5a5a;
}

.text-hover-secondary-dark-5:hover {
  color: #3f3f3f;
}

.bg-secondary-dark-5 {
  background-color: #5a5a5a;
}

.text-secondary-dark-6 {
  color: #525252;
}

.text-hover-secondary-dark-6:hover {
  color: #323232;
}

.bg-secondary-dark-6 {
  background-color: #525252;
}

.text-secondary-dark-7 {
  color: #4b4b4b;
}

.text-hover-secondary-dark-7:hover {
  color: #262626;
}

.bg-secondary-dark-7 {
  background-color: #4b4b4b;
}

.text-secondary-dark-8 {
  color: #444444;
}

.text-hover-secondary-dark-8:hover {
  color: #191919;
}

.bg-secondary-dark-8 {
  background-color: #444444;
}

.text-secondary-dark-9 {
  color: #3d3d3d;
}

.text-hover-secondary-dark-9:hover {
  color: #0d0d0d;
}

.bg-secondary-dark-9 {
  background-color: #3d3d3d;
}

.text-success {
  color: #28a745;
}

.text-hover-success:hover {
  color: #28a745;
}

.bg-success {
  background-color: #28a745;
}

.text-success-light-1 {
  color: #3eb058;
}

.text-hover-success-light-1:hover {
  color: #3eb058;
}

.bg-success-light-1 {
  background-color: #3eb058;
}

.text-success-light-2 {
  color: #53b96a;
}

.text-hover-success-light-2:hover {
  color: #53b96a;
}

.bg-success-light-2 {
  background-color: #53b96a;
}

.text-success-light-3 {
  color: #69c17d;
}

.text-hover-success-light-3:hover {
  color: #69c17d;
}

.bg-success-light-3 {
  background-color: #69c17d;
}

.text-success-light-4 {
  color: #7eca8f;
}

.text-hover-success-light-4:hover {
  color: #7eca8f;
}

.bg-success-light-4 {
  background-color: #7eca8f;
}

.text-success-light-5 {
  color: #94d3a2;
}

.text-hover-success-light-5:hover {
  color: #94d3a2;
}

.bg-success-light-5 {
  background-color: #94d3a2;
}

.text-success-light-6 {
  color: #a9dcb5;
}

.text-hover-success-light-6:hover {
  color: #a9dcb5;
}

.bg-success-light-6 {
  background-color: #a9dcb5;
}

.text-success-light-7 {
  color: #bfe5c7;
}

.text-hover-success-light-7:hover {
  color: #bfe5c7;
}

.bg-success-light-7 {
  background-color: #bfe5c7;
}

.text-success-light-8 {
  color: #d4edda;
}

.text-hover-success-light-8:hover {
  color: #d4edda;
}

.bg-success-light-8 {
  background-color: #d4edda;
}

.text-success-light-9 {
  color: #eaf6ec;
}

.text-hover-success-light-9:hover {
  color: #eaf6ec;
}

.bg-success-light-9 {
  background-color: #eaf6ec;
}

.text-success-dark-1 {
  color: #299c44;
}

.text-hover-success-dark-1:hover {
  color: #24963e;
}

.bg-success-dark-1 {
  background-color: #299c44;
}

.text-success-dark-2 {
  color: #2b9042;
}

.text-hover-success-dark-2:hover {
  color: #208637;
}

.bg-success-dark-2 {
  background-color: #2b9042;
}

.text-success-dark-3 {
  color: #2c8541;
}

.text-hover-success-dark-3:hover {
  color: #1c7530;
}

.bg-success-dark-3 {
  background-color: #2c8541;
}

.text-success-dark-4 {
  color: #2e7a3f;
}

.text-hover-success-dark-4:hover {
  color: #186429;
}

.bg-success-dark-4 {
  background-color: #2e7a3f;
}

.text-success-dark-5 {
  color: #2f6f3e;
}

.text-hover-success-dark-5:hover {
  color: #145423;
}

.bg-success-dark-5 {
  background-color: #2f6f3e;
}

.text-success-dark-6 {
  color: #30633c;
}

.text-hover-success-dark-6:hover {
  color: #10431c;
}

.bg-success-dark-6 {
  background-color: #30633c;
}

.text-success-dark-7 {
  color: #32583b;
}

.text-hover-success-dark-7:hover {
  color: #0c3215;
}

.bg-success-dark-7 {
  background-color: #32583b;
}

.text-success-dark-8 {
  color: #334d39;
}

.text-hover-success-dark-8:hover {
  color: #08210e;
}

.bg-success-dark-8 {
  background-color: #334d39;
}

.text-success-dark-9 {
  color: #354138;
}

.text-hover-success-dark-9:hover {
  color: #041107;
}

.bg-success-dark-9 {
  background-color: #354138;
}

.text-info {
  color: #007bff;
}

.text-hover-info:hover {
  color: #007bff;
}

.bg-info {
  background-color: #007bff;
}

.text-info-light-1 {
  color: #1a88ff;
}

.text-hover-info-light-1:hover {
  color: #1a88ff;
}

.bg-info-light-1 {
  background-color: #1a88ff;
}

.text-info-light-2 {
  color: #3395ff;
}

.text-hover-info-light-2:hover {
  color: #3395ff;
}

.bg-info-light-2 {
  background-color: #3395ff;
}

.text-info-light-3 {
  color: #4da3ff;
}

.text-hover-info-light-3:hover {
  color: #4da3ff;
}

.bg-info-light-3 {
  background-color: #4da3ff;
}

.text-info-light-4 {
  color: #66b0ff;
}

.text-hover-info-light-4:hover {
  color: #66b0ff;
}

.bg-info-light-4 {
  background-color: #66b0ff;
}

.text-info-light-5 {
  color: #80bdff;
}

.text-hover-info-light-5:hover {
  color: #80bdff;
}

.bg-info-light-5 {
  background-color: #80bdff;
}

.text-info-light-6 {
  color: #99caff;
}

.text-hover-info-light-6:hover {
  color: #99caff;
}

.bg-info-light-6 {
  background-color: #99caff;
}

.text-info-light-7 {
  color: #b3d7ff;
}

.text-hover-info-light-7:hover {
  color: #b3d7ff;
}

.bg-info-light-7 {
  background-color: #b3d7ff;
}

.text-info-light-8 {
  color: #cce5ff;
}

.text-hover-info-light-8:hover {
  color: #cce5ff;
}

.bg-info-light-8 {
  background-color: #cce5ff;
}

.text-info-light-9 {
  color: #e6f2ff;
}

.text-hover-info-light-9:hover {
  color: #e6f2ff;
}

.bg-info-light-9 {
  background-color: #e6f2ff;
}

.text-info-dark-1 {
  color: #0574eb;
}

.text-hover-info-dark-1:hover {
  color: #006fe6;
}

.bg-info-dark-1 {
  background-color: #0574eb;
}

.text-info-dark-2 {
  color: #0b6dd7;
}

.text-hover-info-dark-2:hover {
  color: #0062cc;
}

.bg-info-dark-2 {
  background-color: #0b6dd7;
}

.text-info-dark-3 {
  color: #1066c3;
}

.text-hover-info-dark-3:hover {
  color: #0056b3;
}

.bg-info-dark-3 {
  background-color: #1066c3;
}

.text-info-dark-4 {
  color: #165faf;
}

.text-hover-info-dark-4:hover {
  color: #004a99;
}

.bg-info-dark-4 {
  background-color: #165faf;
}

.text-info-dark-5 {
  color: #1b599b;
}

.text-hover-info-dark-5:hover {
  color: #003e80;
}

.bg-info-dark-5 {
  background-color: #1b599b;
}

.text-info-dark-6 {
  color: #205286;
}

.text-hover-info-dark-6:hover {
  color: #003166;
}

.bg-info-dark-6 {
  background-color: #205286;
}

.text-info-dark-7 {
  color: #264b72;
}

.text-hover-info-dark-7:hover {
  color: #00254d;
}

.bg-info-dark-7 {
  background-color: #264b72;
}

.text-info-dark-8 {
  color: #2b445e;
}

.text-hover-info-dark-8:hover {
  color: #001933;
}

.bg-info-dark-8 {
  background-color: #2b445e;
}

.text-info-dark-9 {
  color: #313d4a;
}

.text-hover-info-dark-9:hover {
  color: #000c1a;
}

.bg-info-dark-9 {
  background-color: #313d4a;
}

.text-warning {
  color: #ffc107;
}

.text-hover-warning:hover {
  color: #ffc107;
}

.bg-warning {
  background-color: #ffc107;
}

.text-warning-light-1 {
  color: #ffc720;
}

.text-hover-warning-light-1:hover {
  color: #ffc720;
}

.bg-warning-light-1 {
  background-color: #ffc720;
}

.text-warning-light-2 {
  color: #ffcd39;
}

.text-hover-warning-light-2:hover {
  color: #ffcd39;
}

.bg-warning-light-2 {
  background-color: #ffcd39;
}

.text-warning-light-3 {
  color: #ffd451;
}

.text-hover-warning-light-3:hover {
  color: #ffd451;
}

.bg-warning-light-3 {
  background-color: #ffd451;
}

.text-warning-light-4 {
  color: #ffda6a;
}

.text-hover-warning-light-4:hover {
  color: #ffda6a;
}

.bg-warning-light-4 {
  background-color: #ffda6a;
}

.text-warning-light-5 {
  color: #ffe083;
}

.text-hover-warning-light-5:hover {
  color: #ffe083;
}

.bg-warning-light-5 {
  background-color: #ffe083;
}

.text-warning-light-6 {
  color: #ffe69c;
}

.text-hover-warning-light-6:hover {
  color: #ffe69c;
}

.bg-warning-light-6 {
  background-color: #ffe69c;
}

.text-warning-light-7 {
  color: #ffecb5;
}

.text-hover-warning-light-7:hover {
  color: #ffecb5;
}

.bg-warning-light-7 {
  background-color: #ffecb5;
}

.text-warning-light-8 {
  color: #fff3cd;
}

.text-hover-warning-light-8:hover {
  color: #fff3cd;
}

.bg-warning-light-8 {
  background-color: #fff3cd;
}

.text-warning-light-9 {
  color: #fff9e6;
}

.text-hover-warning-light-9:hover {
  color: #fff9e6;
}

.bg-warning-light-9 {
  background-color: #fff9e6;
}

.text-warning-dark-1 {
  color: #ebb30c;
}

.text-hover-warning-dark-1:hover {
  color: #e6ae06;
}

.bg-warning-dark-1 {
  background-color: #ebb30c;
}

.text-warning-dark-2 {
  color: #d7a510;
}

.text-hover-warning-dark-2:hover {
  color: #cc9a06;
}

.bg-warning-dark-2 {
  background-color: #d7a510;
}

.text-warning-dark-3 {
  color: #c39715;
}

.text-hover-warning-dark-3:hover {
  color: #b38705;
}

.bg-warning-dark-3 {
  background-color: #c39715;
}

.text-warning-dark-4 {
  color: #af891a;
}

.text-hover-warning-dark-4:hover {
  color: #997404;
}

.bg-warning-dark-4 {
  background-color: #af891a;
}

.text-warning-dark-5 {
  color: #9b7c1f;
}

.text-hover-warning-dark-5:hover {
  color: #806104;
}

.bg-warning-dark-5 {
  background-color: #9b7c1f;
}

.text-warning-dark-6 {
  color: #866e23;
}

.text-hover-warning-dark-6:hover {
  color: #664d03;
}

.bg-warning-dark-6 {
  background-color: #866e23;
}

.text-warning-dark-7 {
  color: #726028;
}

.text-hover-warning-dark-7:hover {
  color: #4d3a02;
}

.bg-warning-dark-7 {
  background-color: #726028;
}

.text-warning-dark-8 {
  color: #5e522d;
}

.text-hover-warning-dark-8:hover {
  color: #332701;
}

.bg-warning-dark-8 {
  background-color: #5e522d;
}

.text-warning-dark-9 {
  color: #4a4431;
}

.text-hover-warning-dark-9:hover {
  color: #1a1301;
}

.bg-warning-dark-9 {
  background-color: #4a4431;
}

.text-danger {
  color: #dc3545;
}

.text-hover-danger:hover {
  color: #dc3545;
}

.bg-danger {
  background-color: #dc3545;
}

.text-danger-light-1 {
  color: #e04958;
}

.text-hover-danger-light-1:hover {
  color: #e04958;
}

.bg-danger-light-1 {
  background-color: #e04958;
}

.text-danger-light-2 {
  color: #e35d6a;
}

.text-hover-danger-light-2:hover {
  color: #e35d6a;
}

.bg-danger-light-2 {
  background-color: #e35d6a;
}

.text-danger-light-3 {
  color: #e7727d;
}

.text-hover-danger-light-3:hover {
  color: #e7727d;
}

.bg-danger-light-3 {
  background-color: #e7727d;
}

.text-danger-light-4 {
  color: #ea868f;
}

.text-hover-danger-light-4:hover {
  color: #ea868f;
}

.bg-danger-light-4 {
  background-color: #ea868f;
}

.text-danger-light-5 {
  color: #ee9aa2;
}

.text-hover-danger-light-5:hover {
  color: #ee9aa2;
}

.bg-danger-light-5 {
  background-color: #ee9aa2;
}

.text-danger-light-6 {
  color: #f1aeb5;
}

.text-hover-danger-light-6:hover {
  color: #f1aeb5;
}

.bg-danger-light-6 {
  background-color: #f1aeb5;
}

.text-danger-light-7 {
  color: #f5c2c7;
}

.text-hover-danger-light-7:hover {
  color: #f5c2c7;
}

.bg-danger-light-7 {
  background-color: #f5c2c7;
}

.text-danger-light-8 {
  color: #f8d7da;
}

.text-hover-danger-light-8:hover {
  color: #f8d7da;
}

.bg-danger-light-8 {
  background-color: #f8d7da;
}

.text-danger-light-9 {
  color: #fcebec;
}

.text-hover-danger-light-9:hover {
  color: #fcebec;
}

.bg-danger-light-9 {
  background-color: #fcebec;
}

.text-danger-dark-1 {
  color: #cb3544;
}

.text-hover-danger-dark-1:hover {
  color: #c6303e;
}

.bg-danger-dark-1 {
  background-color: #cb3544;
}

.text-danger-dark-2 {
  color: #bb3542;
}

.text-hover-danger-dark-2:hover {
  color: #b02a37;
}

.bg-danger-dark-2 {
  background-color: #bb3542;
}

.text-danger-dark-3 {
  color: #aa3541;
}

.text-hover-danger-dark-3:hover {
  color: #9a2530;
}

.bg-danger-dark-3 {
  background-color: #aa3541;
}

.text-danger-dark-4 {
  color: #9a353f;
}

.text-hover-danger-dark-4:hover {
  color: #842029;
}

.bg-danger-dark-4 {
  background-color: #9a353f;
}

.text-danger-dark-5 {
  color: #89363e;
}

.text-hover-danger-dark-5:hover {
  color: #6e1b23;
}

.bg-danger-dark-5 {
  background-color: #89363e;
}

.text-danger-dark-6 {
  color: #78363c;
}

.text-hover-danger-dark-6:hover {
  color: #58151c;
}

.bg-danger-dark-6 {
  background-color: #78363c;
}

.text-danger-dark-7 {
  color: #68363b;
}

.text-hover-danger-dark-7:hover {
  color: #421015;
}

.bg-danger-dark-7 {
  background-color: #68363b;
}

.text-danger-dark-8 {
  color: #573639;
}

.text-hover-danger-dark-8:hover {
  color: #2c0b0e;
}

.bg-danger-dark-8 {
  background-color: #573639;
}

.text-danger-dark-9 {
  color: #473638;
}

.text-hover-danger-dark-9:hover {
  color: #160507;
}

.bg-danger-dark-9 {
  background-color: #473638;
}

.text-light {
  color: #fafafa;
}

.text-hover-light:hover {
  color: #fafafa;
}

.bg-light {
  background-color: #fafafa;
}

.text-light-light-1 {
  color: #fbfbfb;
}

.text-hover-light-light-1:hover {
  color: #fbfbfb;
}

.bg-light-light-1 {
  background-color: #fbfbfb;
}

.text-light-light-2 {
  color: #fbfbfb;
}

.text-hover-light-light-2:hover {
  color: #fbfbfb;
}

.bg-light-light-2 {
  background-color: #fbfbfb;
}

.text-light-light-3 {
  color: #fcfcfc;
}

.text-hover-light-light-3:hover {
  color: #fcfcfc;
}

.bg-light-light-3 {
  background-color: #fcfcfc;
}

.text-light-light-4 {
  color: #fcfcfc;
}

.text-hover-light-light-4:hover {
  color: #fcfcfc;
}

.bg-light-light-4 {
  background-color: #fcfcfc;
}

.text-light-light-5 {
  color: #fdfdfd;
}

.text-hover-light-light-5:hover {
  color: #fdfdfd;
}

.bg-light-light-5 {
  background-color: #fdfdfd;
}

.text-light-light-6 {
  color: #fdfdfd;
}

.text-hover-light-light-6:hover {
  color: #fdfdfd;
}

.bg-light-light-6 {
  background-color: #fdfdfd;
}

.text-light-light-7 {
  color: #fefefe;
}

.text-hover-light-light-7:hover {
  color: #fefefe;
}

.bg-light-light-7 {
  background-color: #fefefe;
}

.text-light-light-8 {
  color: #fefefe;
}

.text-hover-light-light-8:hover {
  color: #fefefe;
}

.bg-light-light-8 {
  background-color: #fefefe;
}

.text-light-light-9 {
  color: white;
}

.text-hover-light-light-9:hover {
  color: white;
}

.bg-light-light-9 {
  background-color: white;
}

.text-light-dark-1 {
  color: #e6e6e6;
}

.text-hover-light-dark-1:hover {
  color: #e1e1e1;
}

.bg-light-dark-1 {
  background-color: #e6e6e6;
}

.text-light-dark-2 {
  color: lightgray;
}

.text-hover-light-dark-2:hover {
  color: #c8c8c8;
}

.bg-light-dark-2 {
  background-color: lightgray;
}

.text-light-dark-3 {
  color: #bfbfbf;
}

.text-hover-light-dark-3:hover {
  color: #afafaf;
}

.bg-light-dark-3 {
  background-color: #bfbfbf;
}

.text-light-dark-4 {
  color: #acacac;
}

.text-hover-light-dark-4:hover {
  color: #969696;
}

.bg-light-dark-4 {
  background-color: #acacac;
}

.text-light-dark-5 {
  color: #989898;
}

.text-hover-light-dark-5:hover {
  color: #7d7d7d;
}

.bg-light-dark-5 {
  background-color: #989898;
}

.text-light-dark-6 {
  color: #848484;
}

.text-hover-light-dark-6:hover {
  color: #646464;
}

.bg-light-dark-6 {
  background-color: #848484;
}

.text-light-dark-7 {
  color: #717171;
}

.text-hover-light-dark-7:hover {
  color: #4b4b4b;
}

.bg-light-dark-7 {
  background-color: #717171;
}

.text-light-dark-8 {
  color: #5d5d5d;
}

.text-hover-light-dark-8:hover {
  color: #323232;
}

.bg-light-dark-8 {
  background-color: #5d5d5d;
}

.text-light-dark-9 {
  color: #4a4a4a;
}

.text-hover-light-dark-9:hover {
  color: #191919;
}

.bg-light-dark-9 {
  background-color: #4a4a4a;
}

.text-dark {
  color: #363636;
}

.text-hover-dark:hover {
  color: #363636;
}

.bg-dark {
  background-color: #363636;
}

.text-dark-light-1 {
  color: #4a4a4a;
}

.text-hover-dark-light-1:hover {
  color: #4a4a4a;
}

.bg-dark-light-1 {
  background-color: #4a4a4a;
}

.text-dark-light-2 {
  color: #5e5e5e;
}

.text-hover-dark-light-2:hover {
  color: #5e5e5e;
}

.bg-dark-light-2 {
  background-color: #5e5e5e;
}

.text-dark-light-3 {
  color: #727272;
}

.text-hover-dark-light-3:hover {
  color: #727272;
}

.bg-dark-light-3 {
  background-color: #727272;
}

.text-dark-light-4 {
  color: #868686;
}

.text-hover-dark-light-4:hover {
  color: #868686;
}

.bg-dark-light-4 {
  background-color: #868686;
}

.text-dark-light-5 {
  color: #9b9b9b;
}

.text-hover-dark-light-5:hover {
  color: #9b9b9b;
}

.bg-dark-light-5 {
  background-color: #9b9b9b;
}

.text-dark-light-6 {
  color: #afafaf;
}

.text-hover-dark-light-6:hover {
  color: #afafaf;
}

.bg-dark-light-6 {
  background-color: #afafaf;
}

.text-dark-light-7 {
  color: #c3c3c3;
}

.text-hover-dark-light-7:hover {
  color: #c3c3c3;
}

.bg-dark-light-7 {
  background-color: #c3c3c3;
}

.text-dark-light-8 {
  color: #d7d7d7;
}

.text-hover-dark-light-8:hover {
  color: #d7d7d7;
}

.bg-dark-light-8 {
  background-color: #d7d7d7;
}

.text-dark-light-9 {
  color: #ebebeb;
}

.text-hover-dark-light-9:hover {
  color: #ebebeb;
}

.bg-dark-light-9 {
  background-color: #ebebeb;
}

.text-dark-dark-1 {
  color: #363636;
}

.text-hover-dark-dark-1:hover {
  color: #313131;
}

.bg-dark-dark-1 {
  background-color: #363636;
}

.text-dark-dark-2 {
  color: #363636;
}

.text-hover-dark-dark-2:hover {
  color: #2b2b2b;
}

.bg-dark-dark-2 {
  background-color: #363636;
}

.text-dark-dark-3 {
  color: #363636;
}

.text-hover-dark-dark-3:hover {
  color: #262626;
}

.bg-dark-dark-3 {
  background-color: #363636;
}

.text-dark-dark-4 {
  color: #363636;
}

.text-hover-dark-dark-4:hover {
  color: #202020;
}

.bg-dark-dark-4 {
  background-color: #363636;
}

.text-dark-dark-5 {
  color: #363636;
}

.text-hover-dark-dark-5:hover {
  color: #1b1b1b;
}

.bg-dark-dark-5 {
  background-color: #363636;
}

.text-dark-dark-6 {
  color: #363636;
}

.text-hover-dark-dark-6:hover {
  color: #161616;
}

.bg-dark-dark-6 {
  background-color: #363636;
}

.text-dark-dark-7 {
  color: #363636;
}

.text-hover-dark-dark-7:hover {
  color: #101010;
}

.bg-dark-dark-7 {
  background-color: #363636;
}

.text-dark-dark-8 {
  color: #363636;
}

.text-hover-dark-dark-8:hover {
  color: #0b0b0b;
}

.bg-dark-dark-8 {
  background-color: #363636;
}

.text-dark-dark-9 {
  color: #363636;
}

.text-hover-dark-dark-9:hover {
  color: #050505;
}

.bg-dark-dark-9 {
  background-color: #363636;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fafafa;
}
.card img {
  width: 100%;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #448fd2;
}
.btn-primary:hover {
  background-color: #599bd7;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #448fd2;
}
.btn-outlined-primary:hover {
  background-color: #448fd2;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #7d7d7d;
}
.btn-secondary:hover {
  background-color: #8a8a8a;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #7d7d7d;
}
.btn-outlined-secondary:hover {
  background-color: #7d7d7d;
}

.btn-success {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #28a745;
}
.btn-success:hover {
  background-color: #2dbc4e;
}

.btn-outlined-success {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #28a745;
}
.btn-outlined-success:hover {
  background-color: #28a745;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #007bff;
}
.btn-info:hover {
  background-color: #1a88ff;
}

.btn-outlined-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #007bff;
}
.btn-outlined-info:hover {
  background-color: #007bff;
}

.btn-warning {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffc107;
}
.btn-warning:hover {
  background-color: #ffc721;
}

.btn-outlined-warning {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #ffc107;
}
.btn-outlined-warning:hover {
  background-color: #ffc107;
}

.btn-danger {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #dc3545;
}
.btn-danger:hover {
  background-color: #e04b59;
}

.btn-outlined-danger {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #dc3545;
}
.btn-outlined-danger:hover {
  background-color: #dc3545;
}

.btn-light {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fafafa;
}
.btn-light:hover {
  background-color: white;
}

.btn-outlined-light {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #fafafa;
}
.btn-outlined-light:hover {
  background-color: #fafafa;
}

.btn-dark {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #363636;
}
.btn-dark:hover {
  background-color: #434343;
}

.btn-outlined-dark {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #363636;
}
.btn-outlined-dark:hover {
  background-color: #363636;
}