@use 'sass:math';

%base-icon {
  position: absolute;
  padding: 1.7rem $base-padding;
}

.input-content {
  position: relative;
}

@each $key, $var in $colors {
  .input-#{$key} {
    text-align: center;
    display: block;

    padding: $base-padding;
    border-radius: $base-border-radius * 4;
    border: $base-border-thickness solid $dark;
    box-shadow: $base-box-shadow;
    width: 90%;
    &:hover {
      border: $base-border-thickness * 2 solid $var;
    }
    &:focus {
      border: $base-border-thickness * 2 solid $var;
    }

    input {
      width: 100%;
    }
  }
}

.input-icon-left {
  @extend %base-icon;
  top: 1px;
  left: 0px;
}

.input-icon-right {
  @extend %base-icon;
  top: 1px;
  right: 0px;
}
