@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/palette';
@import '../../../../assets/styles/utilities';

.chatMessagesContainer {
  height: 280px;
  margin: 10px;
  background-color: $white;
  border-radius: $base-border-radius;
  overflow: scroll;
  overflow-x: hidden;
}
