.card {
    box-shadow:  0 4px 8px var(--shadow-color);
    transition: 0.3s;
    border-radius: 5px;
    flex:1;
}

img {
    border-radius: 5px 5px 0 0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 var(--shadow-color);
}