@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

.font-bold {
  font-weight: bold;
}

.font-size-lg {
  font-size: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.display-f {
  display: flex;
}

.font-md {
  font-size: 1rem;
}

/* reset styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

footer,
header,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Manjari', sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

@media (min-width: 0) {
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
.text-primary {
  color: #5c217f;
}

.bg-primary-light-6 {
  background-color: #bea6cc;
}

.text-primary-light-7 {
  color: #cebcd9;
}

.bg-secondary-light-7 {
  background-color: #cfbcd9;
}

.text-dark {
  color: #363636;
}

.text-white {
  color: #fff;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fafafa;
}
.card img {
  width: 100%;
}

.btn-light {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fafafa;
}
.btn-light:hover {
  background-color: white;
}

.navbar-primary .container,
.navbar-primary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar-primary {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.navbar-primary .site-title {
  font-size: 1.5rem;
}
.navbar-primary {
  background-color: #5c217f;
}

.input-primary {
  text-align: center;
  display: block;
  padding: 0.75rem;
  border-radius: 80px;
  border: 1px solid #363636;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  width: 90%;
}
.input-primary:hover {
  border: 2px solid #5c217f;
}
.input-primary:focus {
  border: 2px solid #5c217f;
}
.input-primary input {
  width: 100%;
}

.input-icon {
  position: absolute;
  padding: 0.75rem;
}
