@import '../../assets/styles/palette';
@import '../../assets/styles/fonts';
@import '../../assets/styles/utilities';

.modalBackground {
  background-color: $background-color;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  z-index: 10;
  width: 50vw;
  height: 50vh;
  background-color: $white;
  border-radius: $base-border-radius;
}
