/* ROOT */
:root {
    --primary-color: #5c217f;
    --shadow-color: rgba(0,0,0,0.2);

    --font-size-base: 1rem;
    --font-size-biggish: 1.75rem;
    --font-size-big: 2.25rem;
}

* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav {
    background-color: var(--primary-color);
    height: 60px;
    display: flex;
}

nav h1 {
    margin:auto;
    font-size: var(--font-size-big);
}


h1, span {
    color:white;
}

p {
    color:var(--primary-color)
}

/* CARD */

img {
    border-radius: 5px 5px 0 0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 var(--shadow-color);
}

/* CONTAINER */

/* HEADER */

/* FORM */
form {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
/* SPINNER */
.spinner-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

/* Media Queries */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    h1 {
        color: green;
        font-size: var(--font-size-base);
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    h1 {
        color: blue
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    h1 {
        color: purple
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    h1 {
        color: white
    }
 }

/* utilities */

.font-size\:base {
    font-size: var(--font-size-base) !important;
}

.font-size\:biggish {
    font-size: var(--font-size-biggish) !important;
}

.font-size\:big {
    font-size: var(--font-size-big) !important;
}