// == FONTS ==
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
// Font variables
$sans-serif-Manjari: 'Manjari', sans-serif;
$serif-Merriweather: 'Merriweather', serif;
$background-color: rgba(0, 0, 0, 0.2);
// FONT SIZE
$font-size-base: 1rem;
$font-size-sm: $font-size-base * 0.75;
$font-size-lg: $font-size-base * 1.5;
$font-size-xl: $font-size-base * 2;
$font-size-xxl: $font-size-base * 3;

// BOX SHADOW
$text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05) !default;
$base-box-shadow: 1px 3px 5px $background-color;

//FONT LIST WEIGHT
$fonts-weight: normal, bold, italic;

@each $val in $fonts-weight {
  .font-#{$val} {
    font-weight: $val;
  }
}

$font-sizes: (
  'sm': $font-size-sm,
  'lg': $font-size-lg,
  'xl': $font-size-xl,
  'xxl': $font-size-xxl,
);

@each $key, $val in $font-sizes {
  .font-size-#{$key} {
    font-size: $val;
  }
}
