// == PALETTE ==
//Dark
$obscurepurple: #202040;
$darkpurple: #202060;
$medpurple: #602080;
$lightpurple: #b030b0;
//Light
$lightwhite: #fcf9ea;
$lightblue: #badfdb;
$medorange: #f8a978;
$lightorange: #ffc5a1;
$lightgreen: #52de97;
// == PALETTE ==

//EXTRA COLORS

$white: #fff !default;
$gray-100: #fafafa !default;
$gray-300: #d6d6d6 !default;
$gray-500: #7d7d7d !default;
$gray-700: #363636 !default;
$gray-900: #999999 !default;
$gray-background: #d9edf7 !default;
$gray-medium: #666666 !default;
$gray-light: #ced4da !default;
$primary-200: #448fd2 !default;
$black: #000 !default;
$blue: #007bff !default;
$blue-medium: #008aff !default;
$blue-medium-font: #31708f !default;
$blue-background: #589dd5 !default;
$dark-gray: #42526e !default;
$indigo: #6610f2 !default;
$purple: #5c217f !default;
$pink: #e83e8c;
$orange: #fd7e14;
$green: #28a745 !default;
$yellow: #ffc107 !default;
$red: #dc3545 !default;
$chrome-yellow-light: #fcf8e3 !default;
$yellow-light: #ffffba !default;
$yellow-medium: #e8b029 !default;

$primary: $primary-200 !default;
$secondary: $gray-500 !default;
$success: $green !default;
$info: $blue !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-700 !default;

//MAP COLORS
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "white": $white,
);

//COLORS CLASSES FOR EVERY COLOR IN THE PALETTE
@each $key, $val in $colors {
  .text-#{$key} {
    color: $val;
  }
  .text-hover-#{$key} {
    &:hover {
      color: $val;
    }
  }

  .bg-#{$key} {
    background-color: $val;
  }

  @if ($val != $black and $val != $white) {
    //light variations
    @for $i from 1 through 9 {
      .text-#{$key}-light-#{$i} {
        color: mix($white, $val, $i * 10%);
      }
      .text-hover-#{$key}-light-#{$i} {
        &:hover {
          color: mix($white, $val, $i * 10%);
        }
      }
      .bg-#{$key}-light-#{$i} {
        background-color: mix($white, $val, $i * 10%);
      }
    }

    //dark variations
    @for $i from 1 through 9 {
      .text-#{$key}-dark-#{$i} {
        color: mix($dark, $val, $i * 10%);
      }
      .text-hover-#{$key}-dark-#{$i} {
        &:hover {
          color: mix($black, $val, $i * 10%);
        }
      }
      .bg-#{$key}-dark-#{$i} {
        background-color: mix($dark, $val, $i * 10%);
      }
    }
  }
}

// @debug map-get($colors, "primary");
// @debug map-has-key($colors , 'secondary')
