@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manjari&display=swap");
* {
  padding: 0;
  margin: 0;
}

.header {
  height: 50px;
}

.container {
  min-height: calc(80vh - 70px);
}
@media only screen and (max-width: 1200px) {
  .container {
    min-height: calc(40vh - 70px);
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    min-height: calc(40vh - 70px);
  }
}
@media only screen and (max-width: 480px) {
  .container {
    min-height: calc(30vh - 70px);
  }
}

.footer {
  height: 50px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  font-family: "Manjari", sans-serif;
  font-size: "Arimo", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 25px;
  border-radius: 6px;
  flex-direction: column;
}
.container .card-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 50px;
  margin: 0;
}
.container .card {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  margin-right: 30px;
  box-shadow: 12px 12px 30px 10px teal;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
}
.container .card p {
  flex: 1;
  font-size: 0.8rem;
  padding: 5px 20px 0px 20px;
  text-align: center;
}
.container .card img {
  height: 100%;
  width: 100%;
}
.container h5 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Manjari", sans-serif;
}
.container p {
  text-align: center;
  font-family: "Merriweather", serif;
  padding-top: 20%;
  font-size: 26px;
}
.container p span {
  display: block;
  font-size: 20px;
  text-shadow: none;
  font-family: "Manjari", sans-serif;
  font-weight: bold;
}
@media only screen and (max-width: 1024px) {
  .container p span {
    font-size: 16px;
    width: 80%;
    margin: auto;
  }
}
@media only screen and (max-width: 480px) {
  .container p span {
    font-size: 12px;
    width: 80%;
    margin: auto;
  }
}
@media only screen and (max-width: 480px) {
  .container p {
    padding-top: 15px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 1200px) {
  .container p {
    padding-top: 35px;
  }
}

.footer {
  font-family: "Manjari", sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 15px;
}
@media only screen and (max-width: 480px) {
  .footer p {
    font-size: 16px;
    text-shadow: 0px 0px transparent !important;
  }
}

.light html,
.light body {
  background-color: #fcf9ea;
}
.light .header {
  background-color: #fafafa;
  box-shadow: 1px 2px #602080;
  color: #5c217f;
}
.light .container {
  background-color: #d6d6d6;
  box-shadow: 1px 2px #ffc5a1;
}
.light .container p {
  text-shadow: 2px 1px #ffc5a1;
  color: #52de97;
}
.light .container p span {
  color: #52de97;
  text-shadow: 2px 1px #ffc5a1;
}
.light .footer p {
  color: #52de97;
  text-shadow: 1px 1px #f8a978;
}

.dark html,
.dark body {
  background-color: #202040;
}
.dark .header {
  background-color: #b030b0;
  box-shadow: 1px 2px #ffc5a1;
  color: #202060;
}
.dark .header h1 {
  color: #fff;
}
.dark .container {
  background-color: #b030b0;
  box-shadow: 1px 2px #602080;
}
.dark .container p {
  color: #363636;
}
.dark .footer p {
  color: #602080;
  text-shadow: 1px 1px #b030b0;
} /*# sourceMappingURL=style.css.map */
